@import url("https://fonts.googleapis.com/css2?family=Karla:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  box-sizing: border-box;
  margin: 0;
  font-size: 62.5%;
}

.form {
  height: 100vh;
  background-color: #c1e3d6;
  display: flex;
  justify-content: center;
  align-items: space-around;
}

.inputs {
  height: 60vh;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f6fbf9;
  border-radius: 2rem;
}

.formlabin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.forminput {
  height: 4rem;
  width: 80%;
  border-radius: 1.5rem;
  margin-bottom: 2rem;
  line-height: 0;
  font-size: 2rem;
  text-indent: 1rem;
}
.forminput::placeholder {
  font-size: 1.5rem;
  text-indent: 1rem;
}
.formerr {
  font-size: 2rem;
  display: inline-block;
  margin: -1.5rem;
}

.submitbtn {
  font-size: 2rem;
  margin-top: 3rem;
  background-color: #84c7ae;
  color: #fff;
  height: 6rem;
  width: 60%;
  display: flex;
  justify-content: center;
  border-radius: 2rem;
}

.submitbtntext {
  font-size: 2.3rem;
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
}

.formheading {
  font-size: 4rem;
  margin-bottom: 4rem;
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
}
