* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  box-sizing: border-box;
  margin: 0;
  font-size: 62.5%;
}

.text {
  color: white;
  font-size: 2rem;
}
